
<table class="table">
    <thead class="table-primary">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Units of Stock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let tempProduct of products">
            <td class="align-middle">
                <img src="{{tempProduct.imageUrl}}" height="25"/>
            </td>
            <td class="align-middle">{{tempProduct.name}}</td>
            <td class="align-middle">{{tempProduct.unitPrice | currency: 'USD'}}</td>
            <td class="align-middle">{{tempProduct.unitsInStock}}</td>
            
        </tr>
    </tbody>
</table>
 